:root {
    --colorTextos: #114B5F;
    --blue: #114F5F;
    --green: #1a936f;
    --VerdeClaro: #88d498;
    --verdePastel: #d9e9d4;
    --beige: #f5efe1;
    --black: hsl(0, 0%, 0%);
    --fondoBody:  #fcfffb;
    font-family: 'Inter', sans-serif;
    --text-color: #f8efef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
/*header*/
.logo{
  width: 75px;
  margin: 10px;
}
.contenedor-logo{
  width:100%;
  margin:auto;
  text-align:center;
}
h1{
  font-family: 'Inter', sans-serif;
  margin: 8px;
  letter-spacing: 5px;
  color: var(--blue);
}
/*barra de navegación*/
nav {
    background-color: var(--green);
    padding: 0 15px;
    align-items: center;
  }
  nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
  }
  .menu, .submenu {
    list-style-type: none;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover, .item a:hover::after {
    color: var(--VerdeClaro);
  }
  /* menú para celulares */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: var(--VerdeClaro);
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: var(--green);
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
  }
  
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: var(--green);
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
  
  /*--------------------------------------------------------------------------------*/

body {
    
    background: #134E5E; 
    background: -webkit-linear-gradient(to right, #114B5F, #F3E9D2);  
    background: linear-gradient(to left, #F3E9D2, #114B5F);
    height: 650px;

    justify-content: center;
    align-items: center;
}

h1 {text-align: center;
    font-weight: 900;
}

p {
    text-align: center;
    margin-top: 15px;
}
form {
    background-color: #f1eee8;
    padding: 50px;
    /* box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8); */
    border-radius: 20px;
    width: 40%;
    margin: 0 auto;
}

.form {
    width: 100%;
    margin: auto;

}

form .celda{
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color: #114B5F;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
}

div.botones{
    text-align: center;
    padding-top: 5px;
}

button {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    margin: 0 5px;
}

#botenviar {
    background-color: #114B5F;
    color: #F3E9D2;
}

#botenviar:hover {
    background-color: #1A936F;
}

#botborrar {
    background-color: #e0d9ca;
    color: #114B5F;
}

#botborrar:hover {
    background-color: #F3E9D2;
}

.vInicio{
  text-align: center;
  margin: 30px;
}
.vInicio a{
  color: var(--text-color);
}

/*footer
footer{
  background-color: var(--green);
}

footer p{
  font-family: 'Inter', sans-serif;
  text-align: start;
  margin-left: 15px;
  font-size: 16px;
  color: var(--text-color);
}

.icon-flex{
  display: flex;
  justify-content: center;
}
.icon-flex i{
  margin-left: 20px;
  margin-top: 20px;
} */