:root {
  --blue: #114F5F;
  --green: #1a936f;
  --VerdeClaro: #88d498;
  --verdePastel: #d9e9d4;
  --beige: #f5efe1;
  --black: #000;
  font-family: 'Inter', sans-serif;
  --text-color: #f8efef;
}  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: white;
  /*background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #d9e8e6 50%, #1a936f 100%);*/
  justify-content: center;
}
/*--------------------------------------------------------------------------------*/
  /*barra de navegacón*/
nav{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 40px;
  margin: 0 auto;
  z-index: 1000;
}
header{
  width: 100%;
  height: 70%;
  background-color: var(--green);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;  
}
.logo{  /*logo de la página*/
  width: 70px;
  margin-top: 8px;
  margin-right: 200px;
}
nav .logo{
  display: none;
}
nav ul{
  display: flex;
  text-decoration: none;
}
nav ul li a{
  color: var(--blue);
  display: block;
  margin: 0 10px;
  font-weight: 450;
  font-family:'Inter', sans-serif;
  padding: 8px,18px;
  transition: 0.2s;
  border-radius: 30px;
  font-size: 18px; 
  text-align: end;
}
nav ul li a:hover{
  color:var(--VerdeClaro);
}
.navbar a.active{
  color:var(--verdePastel);
}
/*
.hamburger{ /*hamburger pra navbar responsive
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.hamburger:hover{
  color: var(--VerdeClaro);
}
.hamburger div{
  width: 30px;
  height: 2px; 
  margin: 6px 0;
  background: black;
}*/
  
/*body*/
.info{
  width: 50%;
  margin: 50px auto;
  background-color: var(--beige);
  /*border-radius: 12px;
  box-shadow: #000 5%;*/
}
.info p{
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;  
}

/*--------------------------------------------------------------------------------*/

/*datos de las Ciencias*/
.imgDatos{
  width: 650px;
  margin: 0 30px;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 1300px;
}
.btn{
  width: 200px;
  height: 45px;
  border-radius: 10px; border: none;
  font-size: 20px;
  color: var(--beige);
  background-color: var(--VerdeClaro);
  margin: 0 auto;
}

@media only screen and (max-width:480px){
  .imgDatos{
    width: 300px;
    margin: 0 55px;
  }
  .flex-container {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
  }
  .datos{
    display: grid;
    margin: 10px;
    width: 300px;
    text-align: center;
    justify-content: center;
    font-size: 10px;
  }
}
/*
@media only screen and (min-width:680px){
  .imgDatos{
    width: 100px;
    margin: 0;
  }
  .flex-container {
    display: inline;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
  }
}
*/







/*--------------------------------------------------------------------------------*/
/*footer*/
footer{
  background-color: var(--green);
}

footer p{
  font-family: 'Inter', sans-serif;
  text-align: start;
  margin-left: 15px;
  color: var(--text-color);
}

.icon-flex{
  display: flex;
  justify-content: center;
}
.icon-flex i{
  margin-left: 20px;
  margin-top: 20px;
}

