:root {
    --blue: #114F5F;
    --green: #1a936f;
    --VerdeClaro: #88d498;
    --verdePastel: #d9e9d4;
    --beige: #f5efe1;
    --black: hsl(0, 0%, 0%);
    --fondoBody:  #fcfffb;
    font-family: 'Inter', sans-serif;
    --text-color: #f8efef;
  }  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

  
/*header*/
.logo{
    width: 75px;
    margin: 10px;
  }
  .contenedor-logo{
    width:100%;
    margin:auto;
    text-align:center;
  }
  h1{
    font-family: 'Inter', sans-serif;
    margin: 8px;
    letter-spacing: 5px;
    color: var(--blue);
  }
/*barra de navegación*/
nav {
    background-color: var(--green);
    padding: 0 15px;
    align-items: center;
  }
  nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
  }
  .menu, .submenu {
    list-style-type: none;
  }
  .item {
    padding: 10px;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover, .item a:hover::after {
    color: var(--VerdeClaro);
  }
  /* menú para celulares */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
  }
  .menu li.subitem a {
    padding: 15px;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  .active .item {
    display: block;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
  }
  .has-submenu i {
    font-size: 12px;
  }
  .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: var(--VerdeClaro);
    padding-left: 5px;
  }
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: var(--green);
    border-radius: 3px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
  }
  
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: var(--green);
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
  
  /*--------------------------------------------------------------------------------*/

/*-------------------- MAIN -------------------*/
main {
    /* background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        
        )
        ,url(/image/nebulosa.jfif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        background-color: var(--fondoBody);
}

/* INTRODUCCION*/ 

#introduccion {
    text-align: center;
    padding: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#introduccion h1 {
    font-size: 2.5rem;
    padding: 10px;
    color: black;
    font-size: 25px;
}

#introduccion p {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* RAMAS */

#ramas {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    margin: 0 auto;
}

#ramas h2{
    margin: 0 0 50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

.container h3 {
    margin: 0 0 15px 0; 
    text-align: center;
}

.container p {
    padding: 15px;
    font-size: 13px;
    margin-top: 50px;
}

.tarjeta {
    background-color: black;
    width: 350px;
    height: 300px;
    padding: 30px;
    border-radius: 15px;
    transition: all 0.25s;
}

.container .tarjeta:hover {
    box-shadow: 0 12px 16px rgba(210, 195, 195, 0.2);
    scale: 1.1;
}
.tarjeta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/astronomia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tarjeta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/astrofisica.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjeta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/big\ bang.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerdos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px;
}

.containerdos h3 {
    margin: 0 0 15px 0; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerdos p {
    padding: 15px;
    font-size: 13px;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tarjetados {
    background-color: black;
    width: 350px;
    height: 300px;
    padding: 30px;
    border-radius: 15px;
    transition: all 0.25s;
}

.containerdos .tarjetados:hover {
    box-shadow: 0 12px 16px rgba(210, 195, 195, 0.2);
    scale: 1.1;
}

.tarjetados:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/astrobiologia.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjetados:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/orbita.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tarjetados:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../image/astroquimica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*footer*/
footer{
  background-color: var(--green);
}

footer p{
  font-family: 'Inter', sans-serif;
	text-align: center;
	margin-left: 15px;
	font-size: 16px;
	color: var(--text-color);
}

.icon-flex{
  display: flex;
  justify-content: center;
}
.icon-flex i{
  margin-left: 20px;
  margin-top: 20px;
}

