:root {
  --blue: #114F5F;
  --green: #1a936f;
  --VerdeClaro: #88d498;
  --verdePastel: #d9e9d4;
  --beige: #f5efe1;
  --black: #000;
  --fondoBody:  #fcfffb;
  font-family: 'Inter', sans-serif;
  --text-color: #f8efef;
}  

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width:100%;
  background-color: var(--fondoBody);
}

/* Estilos para las secciones de contenido */
.content-section {
  padding: 20px;
}

.content-section h2 {
  font-size: 36px;
  margin-top: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para el iframe */
iframe {
  width: 100%;
  height: 400px;
}

/* Estilos para la cuadrícula de ramas de la biología */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #f1f1f1;
  padding: 20px;
}

.grid-item h3 {
  font-size: 24px;
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-item p {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: var(--green);
  width: auto;
}

footer p {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-left: 15px;
  color: var(--text-color);
}

.icon-flex {
  display: flex;
  justify-content: center;
}

.icon-flex i {
  margin-left: 20px;
  margin-top: 20px;
}

main.section {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
  background-image: url("/static/image/ADN.jpg");
  margin: 0 auto;
}

ul{
  list-style: none;
}

/*header*/
.logo{
  width: 75px;
  margin: 10px;
}
.contenedor-logo{
  width:100%;
  margin:auto;
  text-align:center;
}
h1{
  font-family: 'Inter', sans-serif;
  margin: 8px;
  letter-spacing: 5px;
  color: var(--blue);
}

/*barra de navegación*/
nav {
  background-color: var(--green);
  padding: 0 15px;
  align-items: center;
}
nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
.menu, .submenu {
  list-style-type: none;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover, .item a:hover::after {
  color: var(--VerdeClaro);
}

/* menú para celulares */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: var(--VerdeClaro);
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: var(--green);
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: var(--green);
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

/* Imágenes de fondo para cada categoría */
.grid-item-1 {
  background-image: url("/static/image/genes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-item-2 {
  background-image: url("/static/image/eco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-item-3 {
  background-image: url("/static/image/zoo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-item-4 {
  background-image: url("/static/image/bot.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-item-5 {
  background-image: url("/static/image/paleo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.grid-item-6 {
  background-image: url("/static/image/imagenmicro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/*colores de cada sección*/
.text1{
  color: #000;
}

.text2{
  color: #010a0c;
}

.text3{
  color: #000;
}

.text4{
  color: #fafafa;
}

.text5{
  color: #010701;
}

.text6{
  color: #fafafa;
}

/* Estilos responsive */
@media screen and (max-width: 1024px) {
  .header-title {
    font-size: 32px;
  }
  
  .grid-container {
    grid-template-columns: 1fr;
  }
  
  .grid-item {
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 24px;
  }
  
  .grid-item {
    min-height: 250px;
  }
}