{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Biología</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bio4.css">
    <link rel="icon" href="/static/image/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba5c97a2f9.js" crossorigin="anonymous"></script>
  </head>
  
<body>
    <header><!--header con el nombre y logo de la página-->
      <div class="contenedor-logo">
          <img src="/static/image/logo.png" alt="logo" class="logo">
          <h1 id="titulo">ExploreSci</h1>
      </div>
  </header>
  <nav><!--comienza barra de navegación-->
      <ul class="menu">
        <li class="item"><a href="{% url 'Principal'%}">Inicio</a></li>
        <li class="item has-submenu">
          <a tabindex="0">Ciencias</a>
          <ul class="submenu"><!--submenú de ciencias-->
            <li class="subitem"><a href="{% url 'Astronomia'%}">Astronomía</a></li>
            <li class="subitem"><a href="{% url 'Biologia'%}">Biología</a></li>
            <li class="subitem"><a href="#">Historia</a></li>
            <li class="subitem"><a href="{% url 'psicologia'%}">Psicología</a></li>
          </ul>
        </li>
        <li class="item"><a href="#">Novedades</a></li>
        <li class="item"><a href="#">Contacto</a></li>
          <li class="item"><a href="{% url 'Nosotros'%}">Sobre Nosotros</a></li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
      </ul>
    </nav>
  <br><br>


    <main>
      <!--sección con iframe de wikipedia-->
      <section class="content-section">
        <h2>La Biología</h2>
        <iframe src="https://es.wikipedia.org/wiki/Biolog%C3%ADa" frameborder="0" width="100%" height="400"></iframe>
      </section>
      <section class="content-section">
        <!--sección con ramas de biología-->
        <h2>Ramas de la Biología</h2> 
        <br><br>
        <div class="grid-container">
          <div class="grid-item grid-item-1">
            <h3 class="text1">Genética</h3>
            <p class="text1">La genética es la rama de la biología que estudia la herencia y la variación de los caracteres en los seres vivos.
              Se centra en el estudio de los genes, que son segmentos de ADN responsables de transmitir información genética de una generación a otra.
              La genética abarca temas como la estructura y función de los genes, la herencia de rasgos y enfermedades, la mutación y la evolución.</p>
          </div>
          <div class="grid-item grid-item-2">
            <h3 class="text2">Ecología</h3>
            <p class="text2">La ecología es la ciencia que estudia las relaciones entre los organismos y su entorno físico y biológico.
              Examina cómo los organismos interactúan entre sí y con el medio ambiente, incluyendo factores abióticos como el clima, el suelo y el agua.
              La ecología investiga los niveles de organización, desde individuos y poblaciones hasta comunidades y ecosistemas, y cómo influyen en los flujos de energía, los ciclos biogeoquímicos y la biodiversidad.</p>
          </div>
          <div class="grid-item grid-item-3">
            <h3 class="text3">Zoología</h3>
            <p class="text3">La zoología es la rama de la biología que se ocupa del estudio de los animales.
              Examina la clasificación, anatomía, fisiología, comportamiento, distribución y evolución de los animales.
              La zoología abarca una amplia variedad de grupos de animales, desde invertebrados como insectos y moluscos hasta vertebrados como mamíferos, aves y peces.</p>
          </div>
          <div class="grid-item grid-item-4">
            <h3 class="text4">Botánica</h3>
            <p class="text4">La botánica es la rama de la biología que se ocupa del estudio de las plantas.
              Examina la clasificación, anatomía, fisiología, reproducción, distribución y evolución de las plantas.
              La botánica se subdivide en diferentes áreas, como la morfología vegetal, la fisiología vegetal, la taxonomía de las plantas y la ecología vegetal.</p>
          </div>
          <div class="grid-item grid-item-5">
            <h3 class="text5">Paleobiología</h3>
            <p class="text5">La paleobiología es una disciplina que combina la paleontología y la biología para estudiar la vida pasada y su evolución a lo largo del tiempo geológico.
              Examina los fósiles y otros registros paleontológicos para comprender la historia evolutiva de las especies y los cambios en los ecosistemas a lo largo del tiempo.
              La paleobiología puede revelar información sobre la diversidad biológica, las extinciones, las adaptaciones y las interacciones entre organismos extintos.</p>
          </div>
          <div class="grid-item grid-item-6">
            <h3 class="text6">Microbiología</h3>
            <p class="text6">La microbiología es la rama de la biología que estudia los microorganismos, que son organismos pequeños no visibles a simple vista, como bacterias, virus, hongos y protozoos.
              Se centra en el estudio de la estructura, función, metabolismo, genética y ecología de los microorganismos.
              La microbiología abarca áreas como la microbiología médica, la microbiología ambiental, la microbiología industrial y la microbiología de los alimentos.
              La microbiología también investiga las interacciones entre los microorganismos y los seres humanos, incluyendo las enfermedades infecciosas y la microbiota, que son las comunidades de microorganismos que habitan en nuestros cuerpos.</p>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <div class="icon-flex"> 
          <a href="#"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
          <a href="#"><i class="fa-brands fa-instagram" style="color: #fcfcfd;"></i></a>     
          <a href="#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></i></a> <!--falta cambiar tamaño-->
      </div>
      <p>Copyright© 2023 ExploreSci</p>
  </footer>





  <script src="/static/js/main.js"></script>
</body>
</html>

